<div class="container">
	<img src="assets/img/burger.png">
	<h1>Welcome to Eat-Da-Burger Application !!!</h1>

	<div>
		<div id="notDevouredBurgers">
			<ul>
				{{#each burgers}}
					{{#unless this.devoured}}
					<li id="marginCorrection">
						<div id="notDevouredList">
							{{this.id}}. {{this.burger_name}}
						</div>
						<div id="devouredButtonsArea">
							<form action="/{{this.id}}?_method=PUT" method="POST">
								<input type="hidden" name="devoured" value="true">
								<button id="devouredButtons" type="submit">Devour it!</button>
							</form>
						</div>
					</li>
					{{/unless}}
				{{/each}}
			</ul>
		</div>

		<div id="devouredBurgers">
			<ul>
				{{#each burgers}}
					{{#if this.devoured}}
					<li id="devouredList">
						{{this.id}}. {{this.burger_name}}
					</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>

	<div>
		<form action="/" method="POST">
			<textarea name="newBurger" rows="5" cols="40"></textarea>
			<div id="addButtonDiv">
				<button id="addButton" type="submit">Submit</button>
				<br>
				Please Add the burger you want and click "Submit"
			</div>
		</form>
	</div>
</div>